body{
    font-family:'Zen Kaku Gothic Antique','Open Sans', sans-serif;
    color: #666;
    line-height: 1.7;
    text-align: justify;
}

a{
    transition: color 0.2s linear, border 0.2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9f;
}

a:hover{
    border-bottom-color: transparent;
}

p{
    margin: 0 0 2em;
}

img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 15px;
}

sub,sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: 0.5em 0 0.5em 1.5em;
}

blockquote p{
    margin-bottom: 0;
}

code{
    background: #f7f7f7;
    border-radius: 0.35em;
    border: 2px solid #efefef;
    font-size: 0.9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    color: #929292
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}

li{
    padding-left: 0.5em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0;
}

.ul-alternate li{
    border-bottom: 1px solid #ccc;
}

.ul-alternate li:last-child{
    border: 0;
}

.ul-icons{
    list-style-type: none;
    padding-left: 0;
}

.ul-icons li{
    display:inline-block;
    font-size: 2em;
    padding-bottom: 1px;
    color:#49bf9d;
}

.icon-link{
    border: 0;
    color: rgba(255, 255, 255, 0.3);
}

input, label,textarea, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea, select{
    background: #ddd;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
}

input[type=radio], input[type=checkbox]{
    width: auto;
}

input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none;
}

textarea{
    height: 10em;
}

.button-default{
    background-color:#49bf9d ;
    border: 3px solid #49bf9d;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 5px;
    font-size: 0.8em;
    display: inline-block;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
}

.button-default:hover{
    background-color:#71ceb4;
    border-color: transparent;
}

.button-default-stroke{
    background-color:white;
    border: 2px solid #efefef;
    color: inherit;
}

.button-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.button-default-small{
    font-size: 0.65em;
}

.button-default-big{
    font-size: 1em;
}

.button-default-full{
    display: block;
    text-align: center;
}

.imagem-link{
    border: 0;
}

.img-left{
    width: auto;
    align-items: left;
    float: left;
    margin-right: 1em;
    
}

.img-right{
    width: auto;
    align-items: right;
    float: right;
    margin-left: 1em;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
    background-color: #f3f2f2;
}

.table td{
    padding: 0.75em;
}

.table th{
    background: #ccc;
    padding: 0.75em;
}

.table tbody tr td{
    border-bottom: 1px solid #ccc;
}

.table tbody tr:first-child td{
    border-top: 2px solid #666;
}

.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even)td{
    background: #ddd;
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border: 1px solid #ddd;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image:url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-title{
    font-size: 24px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    text-align: center;
    font-family: Zen Kaku Gothic Antique 300;
}

.main-header-title strong{
    color: white;
    font-weight: normal;

}

.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.recent-works-card img{
    border-radius: 10px;
    overflow: hidden;
}

.gallery-img img{
    width: 100%;
}

.gallery-thumb img, .gallery-img img{
    margin-bottom: 2%;
    display: inline-block;
    border-radius: 5px;
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;
    border: 0;
}

.copyright{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60%;
    float: right;
}
.copyright a{
    color:rgba(255, 255, 255, 0.5) ;
    list-style-type: none;
    padding-left: 0;  
}

/*Grid*/
.row{
    overflow: auto;
}

.col-2{
    width: 48.5%;
    float: left;
}

.col-2:first-child{
    margin-right: 1.5%;
}

.col-2:last-child{
    margin-left: 1.5%;
}

.col-2-3{
    width: 66%;
    float: left;
}

.col-1-3{
    width: 32%;
    float: left;
}

.col-1-3:nth-child(3n - 2){ /*1,4,7*/
    margin-right: 2%;
}

.col-1-3:nth-child(3n){ /*3,6,9*/
    margin-left: 2%;
}

.col-2-3 + .col-1-3, .col-1-3 + .col-2-3{
    margin-left: 2%;
}

